@model IEnumerable<Planner.Web.Models.EventoViewModel>

@{
    ViewData["Title"] = "Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<h1>Eventos</h1>

<p>
    <a asp-controller="Evento" asp-action="Cadastrar">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Evento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_Hora)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Evento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Hora)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id_Evento }, new {@class= "btn btn-primary"} ) |

                @Html.ActionLink("Remover", "Remover", new { id = item.Id_Evento } , new {@class= "btn btn-danger"})
            </td>
        </tr>
}
    </tbody>
</table>

